<template>
  <div class="p-6 h-full flex flex-col justify-start items-start w-3/5 overflow-auto text-white scrollbar bg-white z-20">
    <h3 class="text-2xl leading-8 font-bold mb-10"> Моя любовь к программированию</h3>
    <p class="mb-5">
      Мой интерес к программированию начался ещё в школе, когда я занимался робототехникой. Я создавал роботов и учил их выполнять различные задачи с помощью программирования. В то время я ещё не осознавал, что именно так привлекало меня в этом процессе.</p>
    <img class="w-3/5 self-center mb-5"
      src="https://i.ibb.co/F05kbtP/school-Photo1.jpg" alt="Комплиментарная фотография из школы"/>
    <p class="mb-5">Постепенно я погружался в мир алгоритмов и структур данных, а каждый успешно завершенный проект приносил удовлетворение. Участвуя в различных олимпиадах по программированию и робототехнике, я выигрывал многие из них, и это укрепило во мне уверенность, что я выбрал верное направление.</p>
    <img class="w-3/5 self-center mb-5"
      src="https://i.ibb.co/gt14S9K/School-Photo2.jpg" alt="Еще фото из школы">
    <p class="mb-5">Программирование даёт мне возможность упрощать жизнь людям, при этом не только решать прикладные задачи, но и воплощать свои идеи в реальность. Я люблю программирование за его гибкость и ощущение творческой свободы.</p>
    <img class="w-3/5 self-center mb-5"
      src="https://i.ibb.co/DwbL4Q0/Last-Selphi.jpg" alt="Последнее селфи">
  </div>
</template>
<script setup>

</script>
<style>
  .scrollbar::-webkit-scrollbar{
    width: 4px;
  }
  .scrollbar::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 9999px;
  }
  .scrollbar::-webkit-scrollbar-track{
    border: 1px solid black;
    border-radius: 9999px;
  }
</style>