<template lang="">
  <div class="white__child p-5 pt-14 container mx-auto">
    <router-link to="/" class="absolute top-4 right-4 text-2xl font-semibold"> &lt; На главную</router-link>
    <h2 class="text-xl mb-4">Существует огромное множество сайтов, web-приложение, js-игра, написанных на нативном языке Java-Script</h2>
    <p class="mb-4">Из всего этого бесконечного множества сайтов я предлагаю вам ознакомиться с сайтом креативного агентства Hello Monday. Я нахожу этот сайт отличным примером того, как оргонично может быть встроена js с качественной версткой.</p>
    <a href="https://www.hellomonday.com/" target="_blank" class="ml-4 border-b border-white">Hellomonday</a>
    <h2 class="text-xl mb-4 mt-8">Стоит заметеить, что Java-Script это не только язык "сайтов", но и, благодоря поддержки большого сообщества разработчиков, мощный инструмент для создания проектов любой сложности.</h2>
    <a href="https://madebyevan.com/webgl-water/" class="ml-4 border-b border-white">Демонстрация возможностей webGL</a> 
    <p class="mb-4 mt-4">В руках больших компаний и JS превращается в потрясающий инструмент для образовательных целей. Так на сайте NASA можно найти множество интересных и сложных проектов, созданных для интерактивного убучения астрономии.</p>
    <a href="https://eyes.nasa.gov/curiosity/" class="ml-4 border-b border-white">Онлайн 3D симулятор марсохода.</a>
    <a href="https://solarsystem.nasa.gov/__webgl/5/moon_lunar/" class="ml-4 border-b border-white">Текущее состояние Луны</a>
  </div>
</template>
<script>
export default {
  
}
</script>
<style>
  .white__child > p, .white__child > h2{
    color: white;
  }
</style>