<template>
  <div class="w-3/5 h-full relative p-5">
    <div class="flex flex-col h-full justify-center items-start">
      <h1 class="text-white text-5xl font-bold mb-10">Фронтенд разработчик <br/> из города 
        <a target="_blank" 
          href="https://neolurk.org/wiki/%D0%A1%D0%B0%D0%BD%D0%BA%D1%82-%D0%9F%D0%B5%D1%82%D0%B5%D1%80%D0%B1%D1%83%D1%80%D0%B3">
          N
        </a>
      </h1>
      <h1 class="text-white text-2xl font-bold">Мои данные:</h1>
      <ul class="pl-5 mb-2">
        <li><a href="https://t.me/Chek_Kirill" class="text-xl" target="_blank">telegram: @Chek_Kirill</a></li>
        <li><a href="mailto:vitruviy2100@gmail.com" class="text-xl" target="_blank">mail: vitruviy2100@gmail.com</a></li>
      </ul>
      <div class="text-white text-2xl font-bold">
        TO MAKE A LONG STORT:
        <ul class="pl-5 mb-2">
          <li class="text-base font-thin text-white">
            Более 3х лет опыта работы
          </li>
          <li class="text-base font-thin text-white">
            Фреймворки: Vue.js, React.js
          </li>
          <li class="text-base font-thin text-white">
            Магистратура 1 курс. Университет ИТМО. Факультет: Прогрмаммирование и ИИ
          </li>
        </ul>
      </div>
      <h1 class="text-white text-2xl font-bold">Дополнительные ссылки:</h1>
      <ul class="pl-5">
        <li><a 
            href="https://mountain-anchovy-181.notion.site/8abd270cf5ec4ea6a14de156ed6c9870?pvs=4" 
            class="text-xl border-b border-white"
            target="_blank">Резюме</a>
        </li>
      </ul>
    </div>
    <h2 class="font-bold text-lg bottom-5 left-5 absolute text-white">Кирилл Алексеевич Чекрыгин</h2>
  </div>
</template>
<script setup>

</script>
<style>
  
</style>