<template>
  <div class="p-10 relative scrollbar overflow-auto h-full">
    <router-link to="/" class="absolute top-4 right-4 text-2xl font-semibold"> &lt; На главную</router-link>
    <h3 class="mb-3 text-3xl text-white">Спасибо за регистрацию, {{ clientInfo.name }}!</h3>
    <p class="text-white mb-4">Твоему вниманию представляю короткое видео о парочке новых функций в CSS, которые поддерживаются всеми популярными браузерами!</p>
    <iframe v-if="youtubeLink" width="560" height="315" 
      :src="youtubeLink" 
      title="YouTube video player" 
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
      allowfullscreen
      class="mx-auto mb-4 w-full md:w-[30rem]">
    </iframe>
    <FeedbackFormVue></FeedbackFormVue>
    <div class="flex justify-center items-center gap-1 mt-14">
      <p class="text-white">Исходный код проекта:</p>
      <div class="flex gap-2 justify-start items-center">
        <a :href="gitlabLink" target="_blank" class="pl-4"><img src="../assets/img/gitlab-logo-100.png" alt="gitlab" class="w-36"/></a>
      </div>
    </div>
  </div>
</template>

<script setup>
  import FeedbackFormVue from '../components/FeedbackForm.vue';
  import { onMounted, ref } from 'vue';
  import dataService from '../services/authServices.js'
  import { userInfo } from '../stores/user';
  import { useRouter } from 'vue-router';

  const router = useRouter();
  const clientInfo = userInfo()

  const youtubeLink = ref("https://www.youtube.com/embed/XuI7wCwGbLs")
  const gitlabLink = ref("https://gitlab.com/my-resume-project")
  
</script>

<style>
  
</style>