<template>
  <div class="pt-[150px] px-5">
    <div class="w-full md:w-[600px] h-[500px] bg-white 
      rounded-lg mx-auto flex flex-col items-stretch justify-center p-6">
      <h3 class="text-2xl mx-auto text-center mb-4" v-if="isRegActive">Регистрация</h3>
      <h3 class="text-2xl mx-auto text-center mb-4" v-if="!isRegActive">Вход</h3>
      <form @submit.prevent="handleAuth" class="form flex flex-col justify-start items-center transition-all">
        <input class="input mb-4" type="text" placeholder="Логин" 
          v-model="sendData.login"
          :class="{'error !border-[#e2432a] border' : (errorStatus === 400 || errorStatus === 452)}">
        <input class="input mb-4" type="text" placeholder="Имя" 
          v-model="sendData.name"
          v-if="isRegActive"
          :class="{'error !border-[#e2432a] border' : errorStatus === 454}">
        <input class="input" type="password" placeholder="Пароль" 
          v-model="sendData.password"
          :class="{'error !border-[#e2432a] border' : errorStatus === 453 || errorStatus === 401}">
        <div v-if="errorMessage" class="flex mx-auto justify-center items-center mt-2">
          <span class="error text-[#e2432a] text-sm text-center mx-28">{{ errorMessage }}</span>
        </div>
        <div class="mt-4 loader" v-if="loadStatus"></div>
        <button
          v-if="!loadStatus" 
          class="bg-[#fc6d27] hover:bg-[#e2432a] 
            py-2 px-5 rounded-full text-white mt-4 transition-all"
          @click.prevent="handleAuth">{{ isRegActive ? 'Зарегистрироваться' : 'Войти' }}</button>
      </form>
      <div class="toggle__btn mx-auto mt-6">
        <button class="h-full rounded-l-full p-2" 
          :class="{'btn__part_active' : !isRegActive}"
          @click="isRegActive = false">Вход</button>
        <button class="rounded-r-full p-2"
          @click="isRegActive = true"
          :class="{'btn__part_active' : isRegActive}">Регистрация</button>
      </div>
    </div>
  </div>
</template>

<script setup>
import { userInfo } from '../stores/user.js';
import { reactive, ref, watch } from 'vue';
import { useRouter } from 'vue-router';
import dataService from '../services/authServices.js';

const clientInfo = userInfo()
const router = useRouter()

const sendData = reactive({
  name: '',
  login: '',
  password: ''
})

const errorMessage = ref(null)
const errorStatus = ref(null)

const loadStatus = ref(false)

const isRegActive = ref(true)

const handleAuth = () => {
  loadStatus.value = true
  if (isRegActive.value) {
    dataService.signup(sendData)
      .then((data) => {
        loadStatus.value = false
        errorStatus.value = null
        errorMessage.value = null
        isRegActive.value = false
        handleAuth()
      })
      .catch((err) => {
        loadStatus.value = false
        errorStatus.value = err.response.status
        errorMessage.value = err.response.data.message
      })
  } else {
    const loginData = {
      login: sendData.login,
      password: sendData.password
    }
    dataService.signin(loginData)
      .then((res) => {
        loadStatus.value = false
        errorMessage.value = null
        errorStatus.value = null
        if (res.data.accessToken) {
          localStorage.setItem('user', JSON.stringify(res.data));
          clientInfo.auth(res.data)
          router.push('/details')
        }
      })
      .catch((err) => {
        loadStatus.value = false
        console.log(err)
        errorMessage.value = err.response?.data.message
        errorStatus.value = err.response?.status
      })
  }
}

watch(isRegActive, () => {
  errorStatus.value = null
  errorMessage.value = null
})

</script>

<style scoped>
.loader {
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #e2432a; /* Blue */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
</style>