<template>
  <div class="f-wull py-10 px-5 bg-white rounded-md max-w-2xl mx-auto">
    <div v-show="!successMsg">
      <h2 class="text-4xl mb-4 text-center">Форма обратной связи</h2>
      <form @submit.prevent="sendForm" class="mb-2 flex flex-col w-full items-center justify-center gap-2">
        <label class="flex md:w-2/5 flex-col justify-start items-start gap-1">
          <span>Имя</span>
          <input type="text" class="input w-full" placeholder="Имя" :value="user?.name ? user?.name : 'Anonymous'" disabled/>
        </label>
        <label class="flex md:w-2/5 flex-col justify-start items-start gap-1">
          <span>Email <span class="text-[#e2432a]">*</span></span>
          <input type="text" class="input w-full" 
            placeholder="example@domain.com" 
            v-model="formData.email"
            :class="{ '!border-[#e2432a] border' : mailReqErr }"/>
        </label>
        <label class="flex md:w-2/5 flex-col justify-start items-start gap-1">
          <span>Тема</span>
          <input type="text" class="input w-full" v-model="formData.subject"/>
        </label>
        <label class="flex md:w-2/5 flex-col justify-start items-start gap-1">
          <span>Сообщение <span class="text-[#e2432a]">*</span></span>
          <textarea type="text" class="input w-full" 
            v-model="formData.message"
            :class="{ '!border-[#e2432a] border' : messReqErr }"></textarea>
        </label>
        <div v-if="errorMessage" class="flex mx-auto justify-center items-center mt-2">
          <span class="error text-[#e2432a] text-sm text-center w-4/5">{{ errorMessage }}</span>
        </div>
        <div class="mt-4 loader" v-if="preloader"></div>
        <button 
          v-if="!preloader"
          class="bg-[#fc6d27] hover:bg-[#e2432a] 
            py-2 px-5 rounded-full text-white mt-4 transition-all"
            type="submit">Отправить</button>
      </form>
    </div>
    <div v-show="successMsg" class="h-96 flex justify-center items-center">
      <span class="text-xl font-medium text-green-500 text-center">{{ successMsg }}</span>
    </div>
  </div>
</template>
<script setup>
  import { reactive, ref } from 'vue';
  import dataService from '../services/authServices.js';

  const user = JSON.parse(localStorage.getItem('user'))
  
  const preloader = ref(false)

  const formData = reactive({
    email: null,
    subject: null,
    message: null,
    userId: user?.id
  })

  const mailReqErr = ref(false)
  const messReqErr = ref(false)
  const errorMessage = ref(null)

  const successMsg = ref(null)
  
  const sendForm = () => {
    if(!formData.email) {
      mailReqErr.value = true
    }
    if(!formData.message) {
      messReqErr.value = true
    }
    if(!formData.message || !formData.email) {
      errorMessage.value = "Не все обязательные поля заполнены"
      return
    }
    preloader.value = true
    mailReqErr.value = false
    messReqErr.value = false
    errorMessage.value = null

    dataService.uploadFeedbackForm(formData)
      .then((res) => {
        preloader.value = false
        successMsg.value = res.data.message
      })
      .catch((err) => {
        preloader.value = false
        alert(err)
      })
  }
</script>
<style scoped>
  .loader {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #e2432a; /* Blue */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
</style>