<script setup>
import { ref, onMounted, computed } from 'vue'
import { useRouter } from 'vue-router';

const router = useRouter()

const isAboutPage = computed(() => {
  return router.currentRoute.value.path === '/about'
})


const startAnim1 = ref(false)
const startAnim2 = ref(false)
const startAnim3 = ref(false)

onMounted(() => {
  setTimeout(() => {
    startAnim1.value = true
  }, 250)
  setTimeout(() => {
    startAnim2.value = true
  }, 200)
  setTimeout(() => {
    startAnim3.value = true
  }, 150)
})

const count = ref(0)
</script>

<template>
  <nav class="preserve3d">
    <ul class="preserve3d relative">
      <li class="preserve3d transition-all btn text-end contain__btn z-10">
        <div class="transition-all duration-300 z-10"
          :class="{'navbarSkew' : startAnim2, 'pos1' : !startAnim2}">
          <div class="relative z-20">
            <router-link
              :class="{'!inline !opacity-100 !z-20' : !isAboutPage, '!hidden' : isAboutPage}"
              class="mainBtnText transition-all 
                text-end preserve3d stroke hover:text-transparent 
                duration-500 opacity-0 absolute right-0 h-16 z-10"
              to="/about"
              >ОБО МНЕ
            </router-link>
            <router-link
              :class="{'!inline !opacity-100 !z-20' : isAboutPage}"
              class="mainBtnText transition-all text-end preserve3d stroke 
                hover:text-transparent duration-500 h-6 opacity-0 z-10"
              to="/"
              >НА ГЛАВНУЮ
            </router-link>
          </div>
        </div>
        <div class="h-2 mt-3 bg-[var(--background-color)] w-full transition-all duration-300"
          :class="{'navbarSkew' : startAnim2, 'pos1' : !startAnim2}">
          <div class="h-full transition-all duration-500 w-0 bg-[var(--secondary-color)] btn__underline"></div>
        </div>
      </li>
      <li class="preserve3d transition-all btn text-end contain__btn">
        <div class="transition-all duration-300"
          :class="{'navbarSkew' : startAnim2, 'pos1' : !startAnim2}">
          <router-link 
            class="mainBtnText transition-all text-end preserve3d stroke hover:text-transparent duration-500"
            to="/details"
            >ПОДРОБНЕЕ
          </router-link>
        </div>
        <div class="h-2 mt-3 bg-[var(--background-color)] w-full transition-all duration-300"
          :class="{'navbarSkew' : startAnim2, 'pos1' : !startAnim2}">
          <div class="h-full transition-all duration-500 w-0 bg-[var(--secondary-color)] btn__underline"></div>
        </div>
      </li>
      <li class="preserve3d transition-all btn text-end contain__btn">
        <div class="transition-all duration-300"
          :class="{'navbarSkew' : startAnim2, 'pos1' : !startAnim2}">
          <router-link 
            class="mainBtnText transition-all text-end preserve3d stroke hover:text-transparent duration-500"
            to="/MyVideo"
            >МОЕ ВИДЕО
          </router-link>
        </div>
        <div class="h-2 mt-3 bg-[var(--background-color)] w-full transition-all duration-300"
          :class="{'navbarSkew' : startAnim2, 'pos1' : !startAnim2}">
          <div class="h-full transition-all duration-500 w-0 bg-[var(--secondary-color)] btn__underline"></div>
        </div>
      </li>
    </ul>
  </nav>
</template>

<style scoped>
.mainBtnText{
  font-size: 60px;
  line-height: 100%;
  font-weight: 900;
}
li:hover .btn__underline {
  width: 100%;
}
.contain__btn:hover .navbarSkew {
  transform: rotateY(-35deg) translateZ(0) scale(1);
}
.navbarSkew {
  transform: rotateY(-45deg) translateZ(0) scale(1);
  transform-origin: left center;
  transform-style: preserve-3d;
  will-change: transform;
}
.pos1 {
  transform: rotateY(-100deg) translateZ(0) scale(1);
  transform-origin: right center;
  transform-style: preserve-3d;
  will-change: transform;
}
.preserve3d {
  transform-style: preserve-3d
}
.stroke:hover {
  -webkit-text-stroke: 2px var(--secondary-color);
}
.btn{
  margin-bottom: 15px;
}

.fade-enter-active {
  transition: all 0.5s ease-in-out;
}
.fade-leave-active {
  transition: all 0s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
  transform: translateX(-300px);
}
</style>
