<script setup>
import NavbarComponents from './components/NavbarComponents.vue';
import MainLayout from './layout/MainLayout.vue';
import { useRouter } from 'vue-router';
import { userInfo } from './stores/user.js';
import { onMounted, computed } from 'vue';

const clientInfo = userInfo()
const router = useRouter()


onMounted(() => {
  try {
    JSON.parse(localStorage.getItem('user'));
  } catch (error) {
    return
  }
  const user = JSON.parse(localStorage.getItem('user'));
  if (user?.id) {
    clientInfo.auth({
      name: user.name,
      login: user.login
    })
  }
  console.dir(router.currentRoute.value.path)
})

const isMainPageOrAbout = computed(() => {
  return router.currentRoute.value.path === '/' || router.currentRoute.value.path === '/about'
})

</script>

<template>
  <main-layout>
    <div class="w-full h-full overflow-clip">
      <Transition>
        <aside v-if="isMainPageOrAbout" 
          class="absolute right-0 top-1/2 -mt-[135px] parallaxPerspective">
          <NavbarComponents></NavbarComponents>
        </aside>
      </Transition>
      
      <router-view v-slot="{ Component }">
        <Transition name="fade">
          <component :is="Component" />
        </Transition>
      </router-view>
    </div>
  </main-layout>
</template>

<style scoped>
  .parallaxPerspective {
    perspective: 100vw;
  }

  .v-enter-active,
  .v-leave-active {
    transition: all 0.5s ease;

  }

  .v-enter-from,
  .v-leave-to {
    opacity: 0;
    transform: rotate3d(0, 1, 0, 90deg) translateX(200px);
    transform-origin: right center;
  }

  .fade-enter-active {
    transition: all 1s ease-in-out;
  }
  .fade-leave-active {
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  .fade-enter-from,
  .fade-leave-to {
    opacity: 0;
    transform: translateX(-300px);
  }
</style>
