@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #1c25c6;
  --secondary-color: white;
  --background-color: #5700FE;
}

* {
  color: black;
  font-family: 'Exo 2', sans-serif;
}

a {
  color: var(--secondary-color);
}

.input {
  @apply outline-none px-4 py-2 border-gray-200 border rounded-lg transition-all
}
.input:focus {
  @apply border-gray-400
}

.toggle__btn {
  @apply rounded-full shadow gap-0 w-40 justify-between items-center h-10 inline-flex
}

.btn__part_active {
  @apply shadow-inner
}