<template>
  <div class="background relative h-[100dvh] overflow-clip"
    :class="{ 'min-w-[905px]' : isSetMinWidth, 'min-w-[675px]' : isSetMinWidth2 }">
    <slot></slot>
  </div>
</template>
<script setup>
import { computed } from 'vue';
import { useRouter } from 'vue-router';

const router = useRouter()

const isSetMinWidth = computed(() => {
  return router.currentRoute.value.path === '/about'
})
const isSetMinWidth2  = computed(() => {
  return router.currentRoute.value.path === '/'
})
</script>
<style>
  .background{
    background-color: var(--background-color);
  }
  .font__color_warn {
    color: rgb(204,26,86);
  }
</style>